# Ignore everything in the output docs directory controlled by the build system.
/docs/
!/docs/index.css
!/docs/index.html

# Ignore everything to do with building the app.wasm file.
/head-wasm32-unknown-wasi-full-js/
/lib/
/ruby.wasm
/src/app.wasm
/wasi-vfs

# Ignore all of the node dependencies and related files.
/node_modules/
/yarn-error.log
