html, body {
  height: 100vh;
  margin: 0;
}

#root {
  box-sizing: border-box;
  display: flex;
  gap: 0.5em;
  height: 100vh;
  padding: 0.5em;
}

textarea {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
