html, body {
  font-family: "Source Serif Pro", serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
}

main {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto minmax(0, 1fr);
}

nav {
  background-color: #fafafa;
  box-shadow: 0 1px 2px 0 #888;
  box-sizing: border-box;
  display: flex;
  grid-column: 1 / span 2;
  padding: 0.5em;
  z-index: 1;
}

nav h1 {
  font-size: 1.2em;
  font-weight: initial;
  margin: 0;
}

nav a {
  vertical-align: middle;
}

nav h1, nav a, nav span {
  padding: 0 1em;
}

.toggles {
  margin-left: auto;
  padding-right: 1em;
}

textarea {
  font-size: 0.9em;
  overflow-wrap: normal;
  overflow-x: scroll;
  resize: none;
  white-space: pre;
}

.CodeMirror {
  height: 100% !important;
}
